@model IEnumerable<My.DAL.dbempstat>

@{
    ViewBag.Title = "Employee Status";
}

<!-- Insert section styles -->
@section styles {
    <!-- DataTable CSS-->
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">List of Employee Status</h3>
    </div>
    <div class="box-body">
        <p>
            <a href="@Url.Action("Create")" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> Add New
            </a>
        </p> <!-- Sampai sini-->


        <table class="table table-bordered table-hover nowrap">
            <thead>
                <tr>
                    <th>
                        Employee Status
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.sEmpStat)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.iEmpStat }, new { @class = "btn btn-primary btn-xs" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.iEmpStat }, new { @class = "btn btn-success btn-xs" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.iEmpStat }, new { @class = "btn btn-danger btn-xs" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- Cut Bagian bawah ini -->
    </div><!-- /.box-body -->
</div> <!-- Sampai sini -->

<!-- Insert section scripts Eko -->
@section scripts {
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>

    <!-- DataTable -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').DataTable({
                responsive: true,
                language: {
                    searchPlaceholder: "Search"
                }
            });
        });
    </script>
}
